<!DOCTYPE html>

<html>
<head>
    <title> Santi and Sophia's CS 181Y Final Project 2022</title>
</head>

<body>
    <h1>
        Welcome! 
    </h1>
    <h2>
        Project Background 
    </h2>
    <p>
        Given an image of a person, our program generates python code that looks like the person. When the program is executed, it generates its own source code.     
    </p>
    <h3>
        Try it <a href="/upload">here</a>
    </h3>
    <h3>
        Here is a sample...
    </h3>
        <img src="/static/dodds.png" alt="Prof. Dodds" width="400">
    <h4>
        Group members:
    </h4>
    <img src="/static/our_pic.JPG" alt="Santi and Sophia" width="400">
</body>


</html>

